<html>
<head>
<!--
function name(Pineapple, Apple, Banana, Avocado)
{
   var name=("Pineapple")  
   console.log("Pineapple")

   var name=("Appple")
   console.log("Apple")

   var name=("Banana")
   console.log("Banana")

   var name=("Avocado")
   console.log("Avocado")

  //-->
}</html>
</head>